.rec-arrow {
    font-size: 1em !important;
    width: min-content !important;
    height: min-content !important;
    padding: 0 !important;
    min-width: 30px !important;
    min-height: 30px !important;
    line-height: normal !important;
    border-radius: 50% !important;
    color: rgb(134, 134, 134) !important;
}

.rec-arrow:hover {
    background-color: #0066FF !important;
}

.rec-arrow:focus:enabled {
    color: rgb(255, 255, 255) !important;
    background-color: #1774ffda !important;
    box-shadow: rgb(51, 51, 51) 0px 0px 2px 0px;
}

.rec-pagination {}

.rec-dot_active {
    background-color: #0066FF !important;
    box-shadow: #247cff 0px 0px 1px 3px !important;
}

.rec-carousel-wrapper {
    /* border: 2px solid purple; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: fit-content; */
    /* margin: auto 0 auto 0; */
}

.rec-carousel {
    /* max-height: 625px; */
    /* max-width: 625px; */
    /* border: 2px solid black; */
}

.rec-slider-container {
    /* border: 2px solid red; */
    /* width: 100% !important; */
    /* height: 100% !important; */
    /* object-fit: contain; */
}